/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * Unit that all spacing should be configured from.
 */

$base-spacing: 1rem;

/**
 * Image settings.
 */

$image-url: "../images/";


/**
 * Font settings.
 */

$font-color-default: #000;
$font-color-light: #fff;
$font-family-default: Arial, sans-serif;
$font-size-base: 1.6rem;

/**
 * Colours.
 */

$color-light-blue: #00bcf2;
$color-event-snapshot-background: #002e3b;
$color-event-snapshot-font: white;
$color-sponsor-font:gray;
$color-sponsor-organiser-background:lightgray;

/**
 * Background colours for each section.
 */

$background-color-white: #fff;
$background-color-dark-blue: #002e3b;
$background-color-dark-blue-transparent: rgba(0, 46, 59, 0.9);

/**
 * Break points
 */
$break-small: 600px; // because we're mobile first and using min-width we go 1px over