/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * Unit that all spacing should be configured from.
 */

$base-spacing: 1.6rem;

/**
 * Image settings.
 */

$image-url: "../images/";


/**
 * Font settings.
 */

$font-color-default: #000;
$font-family-default: Arial, sans-serif;
$font-size-base: 1.6rem;


/**
 * Background colours for each section.
 */

$background-color-white: #fff;
$background-color-dark-blue: #002e3b;
$background-color-dark-blue-transparent: rgba(0, 46, 59, 0.9);
