/**
 * -----------------------------------------------------------------------------
 *   $about
 * -----------------------------------------------------------------------------
 */

.about {
    background-color: red;///$background-color-dark-blue;
    color: $font-color-light;
    padding-top: $base-spacing;
    text-align: center;

    @media screen and (min-width: $break-small) {
        height: 700px;
        padding-top: 200px;
    }
}
