/**
 * -----------------------------------------------------------------------------
 *   $EMAIL SIGNUP
 * -----------------------------------------------------------------------------
 */

.email-signup {
    @include rem(padding-bottom, $base-spacing*4);
    @include rem(padding-top, $base-spacing*4);
    display: inline-block;
    text-align: center;
    width: 100%;
}

.email-signup__label {
    font-weight: bold;
}
