/**
 * -----------------------------------------------------------------------------
 *   $EVENT SNAPSHOT
 * -----------------------------------------------------------------------------
 */

.event-snapshot {
  background-color: $background-color-dark-blue-transparent;
  color: white;
  font-size: 1.6rem;
  padding-top: $base-spacing;
  width: 100%;
  
  @media screen and (min-width: $break-small) {
    text-align: center;
  }
}

.event-snapshot__item {
  list-style: none;
  width: auto;
  margin: 0 10px;
  height: 60px;
  padding-top: 2px;
  padding-left: 50px;
  box-sizing: border-box;
  text-align: left;
  @media screen and (min-width: $break-small) {
    display:inline-block;
  }
}

.event-snapshot__item h4 {
  font-weight: bold;
  text-transform: uppercase;
}

.event-snapshot__item a { color: white; }
.event-snapshot__item a:hover { text-decoration: none; }

.event-snapshot__item--location { background: url(../images/icon-location.png) 0 0 no-repeat; }
.event-snapshot__item--date { background: url(../images/icon-date.png) 0 0 no-repeat; }
.event-snapshot__item--tickets { background: url(../images/icon-tickets.png) 0 0 no-repeat; }
.event-snapshot__item--people { background: url(../images/icon-people.png) 0 0 no-repeat; }
