/**
 * -----------------------------------------------------------------------------
 *   $HEADER
 * -----------------------------------------------------------------------------
 */

header {
  background: $background-color-white;
  box-sizing: border-box;
  
  @media screen and (min-width: $break-small) {
    height: 740px;
    padding-top: 200px;
  }
}

.event-overview {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.shapes { position: absolute; }

.shapes-left {
  top: 0;
  left: 0;
}

.shapes-right {
  top: 0;
  right: 0;
}

/**
 * main header logo image
 */
.header__title-image {
    display:block;
    margin: 0 auto;
    max-width: 600px;
}


/**
 * event details panel
 */
.header__details-panel{
  display:block;
  margin: 0 auto;

  > li {
    display: inline-block;
    h4 {
      text-transform: uppercase;
    }
  }
}
