/**
 * -----------------------------------------------------------------------------
 *   $LOGO
 * -----------------------------------------------------------------------------
 */
.logo {
  @extend .align-horizontal-center;
  max-width:540px;
  padding-bottom: 1em;
  padding-top: 1em;
  width: 90%;
}