/**
 * -----------------------------------------------------------------------------
 *   $SPONSOR SECTION
 * -----------------------------------------------------------------------------
 */
.sponsors {
    color:$color-sponsor-font;
    font-size: $font-size-base*0.9;
}

.sponsor {
    @include rem('padding-top', $base-spacing*4);
    @include rem('padding-bottom', $base-spacing*4);
    
    display:inline-block;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $break-small) {
        width: 50%;
    }
}

    .sponsor__heading {
         @include rem('margin-bottom', $base-spacing*4);
         color: $color-sponsor-font;
         text-align:center;
         text-transform:uppercase;
    }

    .sponsor__logo {
        @include rem('margin-bottom', $base-spacing*4);
        max-width:90%;
    }

    .sponsor__link {
        color: $color-sponsor-font;
    }

.sponsor--organiser{
    background-color: $color-sponsor-organiser-background;
}

