/**
 * -----------------------------------------------------------------------------
 *   $SPONSOR HEADING
 * -----------------------------------------------------------------------------
 */
 .sponsor-heading {
     @include rem('margin-bottom', $base-spacing*4);
     color: $color-sponsor-font;
     text-align:center;
     text-transform:uppercase;
 }