/**
 * -----------------------------------------------------------------------------
 *   VENUE
 * -----------------------------------------------------------------------------
 */
.venue-details {
    background-color: #01bcf3;
    max-width: 300px;
    text-align:center;
}